@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import 'bootstrap.min.css';
@import 'font-awesome.min.css';

/*-------------------------- 
--- 1.0 Base CSS Start ---
-------------------------- */

* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #404551;
	line-height: 1.2;
}

a,
a:hover,
a:focus,
a:active {
	font-weight: 700;
	text-decoration: none;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

li {
	list-style: none;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #abadbe;
	font-size: 15px;
	font-weight: 500;
	margin-top: 0;
	line-height: 1.9;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}
section {overflow: hidden}

/*-------------------------- 
--- 2.0 Button ---
-------------------------- */
.mosh-btn, .mosh-btn-second {
	cursor: pointer;
	margin: 25px 0 0 0;
	min-width: 150px;
	height: 54px;
	padding: 0 30px;
	border-radius: 70px;
	color: #fff;
	font-size: 14px;
	line-height: 54px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}
.mosh-btn {
	background-color: #4a7aec;
}
.mosh-btn:hover {
	background-color: #1a3c8d;
	color: #fff;
}

.mosh-btn-second {
	background-color: #6c757d;
}
.mosh-btn-second:hover {
	color: #fff;
	background-color: #5a6268;
    border-color: #999;
}


/*-------------------------- 
--- 3.0 Concart Form CSS ---
-------------------------- */
.contact-form-area h2,
.contact-information h2 {
	font-size: 40px;
	margin-bottom: 50px;
	font-weight: 900;
}

.contact-form-area .form-control {
	font-size: 12px;
	color: #565a7b;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ebebeb;
	border-radius: 0;
	height: 50px;
	margin-bottom: 10px;
	padding: 15px;
	font-style: italic;
}

.contact-form-area .form-control:hover,
.contact-form-area .form-control:focus {
	box-shadow: none;
}

.contact-form-area textarea.form-control {
	height: 140px;
}

/*-------------------------- 
--- 4.0 SOME ELEMENT CSS ---
-------------------------- */
.mosh-btn.mosh-btn-2 {
	border: 2px solid #4a7aec;
	color: #404551;
	background-color: #fff;
}

.mosh-btn.mosh-btn-2:hover,
.mosh-btn.mosh-btn-2:focus {
	border: 2px solid #4a7aec;
	color: #fff;
	background-color: #4a7aec;
}

.mosh-btn.mosh-btn-3 {
	border: none;
	color: #404551;
	background-color: #fff;
	box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

.mosh-btn.mosh-btn-3:hover,
.mosh-btn.mosh-btn-3:focus {
	color: #fff;
	background-color: #4a7aec;
}

/*-------------------------- 
--- 5.0 CONTACT POPUP FORM CSS ---
-------------------------- */
.disp-none{ display: none; }

.modal-footer {
	flex-wrap:wrap;
	justify-content: center;
}
.btn-anim {
	transition: all 0.25s ease;
}
.onclic {
	min-width: 55px;
    height: 55px;
    padding: 0;
	border-color:#bbbbbb;
	border-width:5px;
	font-size:0;
	border-left-color:#1ECD97;
	animation: rotating 2s 0.50s linear infinite;
}
.onclic:after {
	content:"";
}
.onclic:hover {
	color:#1ECD97;
	background: white;
}
.valid {
	font-size:13px;
	color: white;
	background: #1ECD97;
}
.no-valid {
	background: brown;
}
.no-valid:hover {
	background: #721c24;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*-------------------------- 
--- 6.0 ANIMATION ELEMENTS CSS ---
-------------------------- */
.animation-menu,
.animation-head-text,
.animation-using, 
.animation-using-slider,
.animation-who-is-guy,
.animation-who-is-guy-photo,
.animation-portfolio{
}
.animation-using {
	position: relative;
}
.a-0 {
	opacity: 0;
	transform: rotateY(360deg);
}
.a-1 {
	transform: rotateZ(90deg);
}
.a-2 {
	left: 200vw;
}
.a-3 {
	left: -200vw;
}
.a-4 {
	bottom: -200vh;
}
.a-5 {
	transform: scaleX(0);
}
.a-do {
	transition: all 1s ease;
	opacity: 1;
	right: 0;
	left: 0;
	bottom: 0;
	transform: none;
}

/*-------------------------- 
--- 7.0 NAVBAR CSS ---
-------------------------- */
.navbar-nav {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

button.navbar-toggler:focus {
    outline: 1px dotted;
    outline: none; 
}
.cta {
  height: 50px;
  width: 50px;
  cursor: pointer; 
}

.toggle-btn {
  height: 2px;
  width: 25px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out; }
  .toggle-btn:before {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0px -10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; }
  .toggle-btn:after {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0px 10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; }

.active .toggle-btn {
	background-color: transparent;
	transition: all 0.2s ease-in-out; }
.active .toggle-btn:before {
	top: 0;
	transition: all 0.3s ease-in-out; }
.active .toggle-btn:after {
	top: 0;
	transition: all 0.3s ease-in-out; }
.active .type1 {
	transform: rotate(180deg);
	transition: all 0.5s ease-in-out; }
.active .type1:before {
	left: 0px;
	transform: translate(8px, -7px) rotate(-135deg); }
.active .type1:after {
	left: 0px;
	transform: translate(7px, 7px) rotate(-225deg); }

/*-------------------------- 
--------- The END ---------
-------------------------- */